---
import Layout from "../layouts/Layout.astro";
import Show from "../components/Show.astro";
import Filter from "../components/Filter.astro";
// // fetcher data - henter URL fra supabase, skriv  rest/v1/tabelnavn ALTID
const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}
).then(res=>res.json());
---

<Layout>
    <h1>Shoes</h1>
<!-- <Filter /> -->

<section class="shows">
    {data.map(show=>{
        if(show)
return <Show data={show} />;
    })}
</section>

<!-- <div class="hej">
    <section class="Prada">
        {data.map(show=>{
            if(show.brand == "Prada")
    return <Show data={show} />;
        })}
    </section>

    <section class="MiuMiu">
        {data.map(show=>{
            if(show.brand == "Miu Miu")
    return <Show data={show} />;
        })}
    </section>

    <section class="Gucci">
        {data.map(show=>{
            if(show.brand == "Gucci")
    return <Show data={show} />;
        })}
    </section>

    <section class="Dior">
        {data.map(show=>{
            if(show.brand == "Dior")
    return <Show data={show} />;
        })}
    </section>

    <section class="Celine">
        {data.map(show=>{
            if(show.brand == "Celine")
    return <Show data={show} />;
        })}
    </section>

    <section class="Chanel">
        {data.map(show=>{
            if(show.brand == "Chanel")
    return <Show data={show} />;
        })}
    </section>

    <section class="JimmyChoo">
        {data.map(show=>{
            if(show.brand == "Jimmy Choo")
    return <Show data={show} />;
        })}
    </section>

    <section class="ManoloBlahnik">
        {data.map(show=>{
            if(show.brand == "Manolo Blahnik")
    return <Show data={show} />;
        })}
    </section>
</div> -->

</Layout>

<style>
    .shows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
.filter {
    margin-bottom: 30px;
}
    @media (min-width: 800px){
        .shows {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .filter {
    margin-bottom: 60px;
}
    }
</style>