---
const {data} = Astro.props;
---
<div class="cart_shoe">
    <div class="prove">
    <div class="cart_infos">  
        <br>  
        <img src={data.image1} alt="" class="cart_img">
    </div>
    <div class="cart_brand">
        <h4>{data.typ}</h4>
        <h3>{data.brand}</h3>
        <h4>Size: {data.size}</h4>
    </div>
</div>

    <div class="cart_price">
        <h3>{data.price}</h3>
    </div>
</div>

<style>
    .cart_img {
        width: 100px;
        height: auto;
    }

    .cart_shoe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    .cart_price {
        display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .cart_brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    margin: auto; /* Centers the cart_brand div horizontally */
  }


  .prove{
    display: flex;
    width: 200px;
  }

  @media (min-width: 800px) {
    .cart_img {
        width: 200px;
    }

.prove {
    display: flex;
flex-direction: row;
width: 60%;
}


  }
</style>