---
const {data} = Astro.props;
console.log(data);
---
<a href={`shows/${data.id}`}>
    <article class="vark">
        <img src={data.image1} alt="Billeder af sko" class="billede">
        <h4 class="marke">{data.brand}</h4>
        <h2 class="typ">{data.type}</h2>
        <div class="pris_size">
        <h4 class="pris">{data.price}</h4>
        <h4 class="size">{data.size}</h4>
        <p>{data.available}</p>
        </article>
    </a>


    <style>

        .sold_out {
            opacity: 0.5;
        }
        .pris_size {
    display: flex;
    justify-content: space-between;
}
.billede {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.vark{
    margin-bottom: 2rem;
}
    </style>


<script>
 
</script>
   
        
   
      