---
const {data} = Astro.props;
console.log(data);
---

<a href={`shows/${data.id}`}>
    <article>
        <div class="shoes">
        <img src={data.image1} alt="Picture of shows" class="billede">
        </div>
        <h4 class="marke">{data.brand}</h4>
        <h2 class="typ">{data.type}</h2>
        <div class="pris_size">
        <h4 class="pris">{data.price}</h4>
        <h4 class="size">{data.size}</h4>
        </article>
    </a>


    <style>

    .pris_size {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    }
    


@media (min-width:800px){
    .shoes{
        overflow: hidden;
        width: 100%;
    }

    .billede {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .billede:hover{
        transform: scale(1.05);
    }

}

    </style>

   
        
   
      