---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Popupcart from "../../components/Popupcart.astro";
export async function getStaticPaths(){
    const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}).then(response => response.json());

  return data.map((show) => {
        return{
            params: {slug: show.id},
            props: {myData: show},

        };
    });
  } 
const {myData} = Astro.props;
console.log(myData);
---

<Layout>

  <div class="single">
  <div class="slideshow-container">
    <div class="mySlides">
      <img src={myData.image1}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image2}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image3}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image4}>
    </div>
  </div>
   
  
    <!-- Next and previous buttons -->
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>

  <div class="tekst">
    <div class="hej">
 <h3>{myData.brand}</h3>
 <br>
 <h1>{myData.type}</h1>
 <br>
 <h3>{myData.price}</h3>
 <br>

 <Button variant="add-to-cart">add to cart</Button>

 <br>
 <br>

<h2>Description</h2>

<p><span class="fed">Size: </span>{myData.size}</p>
<br>
<p><span class="fed">Measurements: </span>{myData.measurements}</p>
<br>
<p><span class="fed">Color: </span>{myData.color}</p>
<br>
<p><span class="fed">Material: </span> {myData.material}</p>
<br>
<p><span class="fed">Spots: </span>{myData.spots}</p>
</div>
</div>
</div>

<Popupcart data={myData} />

</Layout>

<style>
  .fed {
    font-weight: 600;
  }

  @media (min-width: 800px){


    .desc {
      margin-top: 20px;
    }
    .prev, .next {
      display: none;
    }
  
    .single {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      margin: 0px -140px;
      width: 96%;
    }

    .hej {
      position: sticky;
      width: 500px;
      top: 100px;
    }
  }
  </style>


<script>
  var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>