---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Popupcart from "../../components/Popupcart.astro";
export async function getStaticPaths(){
    const data = await fetch("https://ycttsezrvlztlajbkdxt.supabase.co/rest/v1/colada_archive_", {
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljdHRzZXpydmx6dGxhamJrZHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU5MzY2NjksImV4cCI6MjAzMTUxMjY2OX0.W2Dcw1gmLKcXLWOcWXBdxYBuBiVOjgi8xfwwII3329o"
    }
}).then(response => response.json());

  return data.map((show) => {
        return{
            params: {slug: show.id},
            props: {myData: show},

        };
    });
  } 
const {myData} = Astro.props;
console.log(myData);
---

<Layout>

  <div class="single">
  <div class="slideshow-container">
    <div class="mySlides">
      <img src={myData.image1}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image2}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image3}>
    </div>
  
    <div class="mySlides">
      <img src={myData.image4}>
    </div>

   
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div class="tekst">
    <div class="hej">
 <h3>{myData.brand}</h3>
 <br>
 <h1>{myData.type}</h1>
 <br>
 <h3>{myData.price}</h3>
 <br>

 <Button variant="add-to-cart">add to cart</Button>

<h2>Description</h2>

<p><span class="fed">Size: </span>{myData.size}</p>
<br>
<p><span class="fed">Measurements: </span>{myData.measurements}</p>
<br>
<p><span class="fed">Color: </span>{myData.color}</p>
<br>
<p><span class="fed">Material: </span> {myData.material}</p>
<br>
<p><span class="fed">Spots: </span>{myData.spots}</p>
</div>
</div>
</div>

<Popupcart data={myData} />

</Layout>

<style>
  .fed {
    font-weight: 600;
  }

  @media (min-width: 800px){


    .desc {
      margin-top: 20px;
    }
    .prev, .next {
      display: none;
    }
  
    .single {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      margin: 10px -140px;
      width: 96%;
    }

    .tekst {
      margin-top: 30px;
      
    }

    .hej {
      position: sticky;
      width: 500px;
      top: 130px;
    }
  }
  </style>